{% extends 'flatpages/default.html' %}

<head>
    {{ forms.media }}
</head>

{% block title %}
Article
{% endblock title %}


{% block content %}


<h1 style="text-align: center;margin-top: 20px;font-family: Candara;"><em>ЛЕНТА ОБЪЯВЛЕНИЙ</em></h1>
<!--<p>&nbsp;</p>-->
<hr>
<form style="text-align: midle;" action="" method="get">
    {{ filterset.form.as_p }}
    <input class="btn btn-primary" type="submit" value="Найти">
</form>

{% for i in article %}
<ul>
    <hr>
    <p>&nbsp;</p>

    <table style="height: 101px;" width="1200">
        <tbody>
        <tr>
            <td><a class="nav-link" href="/article/{{ i.id }}"><h1 style="text-align: left;margin-top: 20px;font-family: Candara;"><em>Заголовок: {{ i.title }} </em></h1></a></td>
            <td><p style="text-align: right; font-size:20px; font-family: Candara;"><em>Категория: {{ i.category }}</em></p></td>
        </tr>
        </tbody>
    </table>


    <p>&nbsp;</p>
    {% autoescape off %}{{ i.text }}{% endautoescape %}
    <p>&nbsp;</p>
    <p style="font-family: Candara;"><em>Дата публикации: {{ i.time_in }}</em></p>
    <p style="font-family: Candara;"><em>Автор объявления: {{ i.author }}</em></p>
<!--    <p><a href="/article/{{ i.id }}">перейти к объявлению</a></p>-->
    <p>&nbsp;</p>
</ul>
{% endfor %}

{% endblock content %}