{% extends 'flatpages/default.html' %}

<head>
    {{ forms.media }}
</head>

{% block title %}
post
{% endblock title %}


{% block content %}
<h1 style="text-align: center;margin-top: 20px;font-family: Candara;"><em>Объявление № {{ post.pk }}</em></h1>

{% if request.user == post.author %}
<p><a href="/article/{{ post.id }}/update">Изменить</a></p>
<p><a href="/article/{{ post.id }}/delete">Удалить</a></p>
{% else %}

{% endif %}
<p>&nbsp;</p>


<ul>
    <hr>
    <p>&nbsp;</p>
    <table >
        <tbody>
        <tr>
            <td><h1 style="text-align: left;margin-top: 20px;font-family: Candara;"><em>Заголовок: {{ post.title }} </em></h1></td>
<!--            <td style="width: 800px;"><p style="text-align: right; font-size:20px; font-family: Candara;"><em>Категории: {{ i.category }}</em></p></td>-->
        </tr>
        <tr>
            <td></td>
            <td style="width: 800px;"><p style="text-align: right; font-size:20px; font-family: Candara;"><em>Категории: {{ post.category }}</em></p></td>
        </tr>
        </tbody>
    </table>
<!--    <h1 style="text-align: left;margin-top: 20px;font-family: Candara;"><em>Заголовок: {{ i.title }} </em></h1>-->
    <p>&nbsp;</p>
    {% autoescape off %}{{ post.text }}{% endautoescape %}
    <p>&nbsp;</p>
    {{ post.time_in }}
<!--    <p style="text-align: right; font-size:20px; font-family: Candara;"><em>Категории: {{ i.category }} </em></p>-->
</ul>

<!--<div>{% autoescape off %}{{ article }}{% endautoescape %}</div>-->

<!--<img src="/media/uploads/my_image.jpg" />-->
<p style="text-align: center;">&nbsp;</p>
   {% if messages %}
<div class="alert.alert-success">
    {% for m in messages %}
         {{m}}
    {% endfor %}
</div>
    {% endif %}
<p style="text-align: center;"><strong>Комментарии</strong></p>
<hr>


{% for item in post.comments.all %}

<li style="text-align: left;">
    Дата создания: {{item.time_in}} <br>
    Автор комментария: {{item.author}} <br>
    Статус комментария: {{item.status}} <br><br>

    {{item.text}}
<p style="text-align: center;">&nbsp;</p>
</li>

{% endfor %}
<p style="text-align: center;">&nbsp;</p>


<form action="" id="add_form" method="post">
    {% csrf_token %}
         {{ form.as_p }}
</form>


<button form="add_form" type="submit" class="btn btn-primary">Добавить</button>


{% endblock content %}

<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>

<h2>Leave a comment</h2>
<form action="" method="post">
    {% csrf_token %}
    <textarea name="comment_text" id="" cols="30" rows="10"></textarea>
    <input type="submit" value="Submit">
</form>