{% extends 'flatpages/default.html' %}



{% block content %}
<h1 style="text-align: center;margin-top: 20px;font-family: Candara;"><em>КОММЕНТАРИИ МОИХ ОБЪЯВЛЕНИЙ</em></h1>

<hr>
<form style="text-align: midle;" action="" method="get">
    {{ filterset.form.as_p }}
    <input class="btn btn-primary" type="submit" value="Найти">
</form>


<hr>

{%if user_posts_comments%}
{%for i in user_posts_comments%}

<div class="card">
  <div class="card-header">
    {{i.time_in}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{i.article}}</h5>
    <p class="card-text">{{i.text}}</p>
      {%if i.status == False%}
    <a class="btn btn-success" href="{% url 'comments_accept' i.id %}" role="button">Принять</a>
      <a class="btn btn-danger" href="{% url 'comments_delete' i.id %}" role="button">Удалить</a>
      {%else%}
      <div class="alert alert-success" role="alert">
          Комментарий принят
      </div>
      <a class="btn btn-danger" href="{% url 'comments_delete' i.id %}" role="button">Удалить</a>
      {%endif%}
  </div>
</div>
<p>&nbsp;</p>

<!--{{i.article}}-->
<!--{{i.text}}-->
<!--{{i.time_in}}-->
<!--<a class="btn btn-success" href="{% url 'comments_accept' i.id %}" role="button">Принять</a>-->
<!--<a class="btn btn-danger" href="{% url 'comments_delete' i.id %}" role="button">Удалить</a>-->
{%endfor%}
{%else%}
<h2>Комментарии отсутствуют</h2>
{%endif%}

{% endblock content %}